.carouselnew {
    position: relative;
    /* max-width: 800px; Adjust to fit 4 images */
    /* margin: auto; */
    overflow: hidden; /* Hide extra images */
  }
  
  .carousel-track-container {
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-slide {
    flex: 0 0 calc((100% - 30px) / 4); /* Divide the container into 4 equal slides with padding */
    margin-right: 10px; /* Padding between slides */
    /* box-sizing: border-box; Include padding in width */
    list-style: none;
  }
  
  .carousel-slide img {
     /* width: 100%; Ensure images fit their slides */
    display: block;
    width:270px;
    height:470px;
    border-radius:15px;
  }
  
  .carouselnew button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    justify-content:space-between;
  }
  
  /* button.prev {
    left: 10px;
  } */
  
  button.next {
    right: 38px;
  }
