.carousel img {
    width: 100%;
    display: none;
}
.carousel img.active {
    display: block;
}
/* To Move images in y-axis */
.carousel-controls { 
    transform: translateY(-50%);
}
.carousel-controls button {
     display: none; 
}