.toggle-container {
    display: flex;
     justify-content: space-between; 
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
    margin-right: 50px;
  }
  .toggle-container h3{
    color:yellow;
    padding-left: 30px;
  }

  .arrow {
    font-size: 1.5rem;
    font-weight: bold;
    border: solid yellow;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg); /* Creates the plain down arrow */
    transition: transform 0.3s ease;

  }

  .content {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.6;
    max-height: 6.6em; /* Limit to 6 lines initially */
    overflow: hidden;
    color:white;
    margin-left: 30px;
  }

  .content.expanded {
    max-height: none; /* Remove height restriction */
  }

  .read-more-less {
    color: yellow;
    cursor: pointer;
    font-size: 1rem;
    display: none;
    margin-left: 30px;
    margin-bottom: 20px;
  }