.OfferCarousel img {
    Width:90%;
    height:90%;
    display: none;
}
.OfferCarousel img.active {
    display: block;
}
/* To Move images in y-axis */
.carousel-controls { 
    transform: translateY(-50%);
}
.carousel-controls button {
     display: none; 
}
.OfferCarousel{
    width:1000px;
    margin-left: 15%;
    margin-top: 30px;
}