*{
    margin:0px;
    padding:0px;
} 
.free{
    background-color: black;
    color:white;
    display: flex;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-top: 0px;
}
.free p{
    padding-left: 80px;
    padding-top: 8px;
    padding-bottom: 10px;
}
.free a{
    /* float:inline-end; */
    color:white;
    margin-left: 660px;
    padding-top: 8px;
    text-decoration: none;
    font-weight: 400;   
    padding-bottom: 10px;
}
.beyoung{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}
.logo img{
    width:150px;
    height:20px;
    padding-top: 11px;
    padding-left: 70px;
    cursor: pointer;
}
.topwear{   
    position: relative; 
 
}
/* topwear inner button content style when hovered */
.bttn-content,.btn-content1 
{
   display:flex;
   position: absolute; 
   top:100%;
   box-shadow: 20px rgba(242, 212, 212, 0.2);
   border-radius: 25px;
   border:1px solid rgb(240, 237, 237); 
}
.btn-content1 a{
    padding-bottom:20px;
    
}
.btn-content{
    display: none; 
     /* z-index: 1; 
    top:100%; */
    /* box-shadow: 0px 8px 16px 0px rgba(71, 61, 61, 0.2);   */
    background-color: white;
    width:140px;
/* height:100px; */
    padding-top: 10px;
}

.btn-content1{
    display: none; 
    /* z-index: 1; 
   top:100%; */
   /* box-shadow: 0px 8px 16px 0px rgba(71, 61, 61, 0.2);   */
   background-color: white;
   width:200px;
/* display:flex; */
position: absolute; 
top:105%;
box-shadow: 20px rgba(242, 212, 212, 0.2);
border-radius: 10px;
border:1px solid rgb(240, 237, 237); 
}

.btn a {
    font-size:small;
    text-decoration: none;
    color: black;
}

.goatsale a{
   font-size:small;
}
.btn-content a{
    text-decoration: none;
    display: flex;
    color:black;
    padding-bottom: 10px; 
    /* margin:10px; */
    font-size: medium;
    color: grey;
    margin-left: 10px;
    
}
.btn-content1 a{
    text-decoration: none;
    display: flex;
    color:black;
    padding-bottom: 10px; 
     margin:10px; 
}
 /* when mouse hover over topwear, inner content to be disploayed */
.topwear:hover .btn-content{
display: block;
}
.topwear:hover .btn-content1{
    display: block;
    }

.btn {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-weight: bolder;
}
 .btn img{
    width:25px;
    height:25px;
    /* margin-top: 20px; */
 }  

.goatsale a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    /* margin-top: 10px; */
}
.goatsale{
    padding-top: 10px;
}
.cart img{
    width:25px;
    height:25px;
    padding-right: 10px;
}
.cart{
margin-left: 50px;
margin-right: 30px;
}
/* static tab displays fixed all over website */
.one-fixed{
    position: sticky;
    background-color: white;
    top: 0%;
    padding-bottom: 15px;
    z-index:2;
    /* margin-bottom: 20px; */
}
.two-banner img{
    width:100%;
    margin-top: 0px;
    margin-bottom: 20px;
    cursor: pointer;
}
.three-offerimages{
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.three-offerimages img{
    width:auto;
    overflow: hidden;
    padding-right: 15px;
}
.four-comboimages{
    margin-left: 250px;
    margin-top: 50px;
   margin-bottom: 20px;
}
.four-comboimages img{
height:70px;}

.five-comboimages{
    display:flex;
    flex-basis: 25%;
    justify-content:space-evenly;
     margin-left: 50px;
    margin-right: 30px; 
    margin-bottom: 20px;
    cursor: pointer;
}

.five-comboimages img{
    width:270px;
    height:470px;
 border-radius:15px;
}

.six-dufflebag{
    margin-left: 70px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}
.seven-getwinter{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.eight-winter{
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.eight-winter img{
width:280px;
height:460px;
border-radius: 20px;
cursor: pointer;
}
.nine-goatsale{
    text-align: center;
    padding-bottom: 20px;
    width: 1200px;
    margin-left: 70px;
    background-color: rgb(214, 220, 228);
}
.nine-goatsale h2{
    padding-bottom: 10px;
    padding-top: 40px;
}
.tengoatgif{
    background-color: rgb(214, 220, 228);
    margin-left: 70px;

    width:1200px;  
}
.tengoatgif img{
    /* padding-left: 10px; */
    width:1200px;  
    margin-bottom: 20px; 

}


.eleven-buttons{
    text-align: center;
    width: 1200px;
    margin-left: 70px;
    background-color: rgb(214, 220, 228);
margin-top: 0px;
padding-top: 0px;


}
.shirt{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding:5px 20px 5px 20px;
    font-size: 15px;
    cursor: pointer;
}
.polo{
   background-color: rgb(214, 220, 228);
    color: black;
    border-radius: 20px;
    padding:5px 20px 5px 20px;
    font-size: 15px;
    margin-left: 20px;
}
.twelve-shirt {
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: rgb(214, 220, 228);
    width:1200px; 
}
.twelve-shirt img{
/* width:270px;
height:380px; */
border-radius: 20px;
cursor: pointer;
}

.goat-sale-shirt img{
    width:270px;
height:380px;
}
.goat-sale-shirt{
    display:flex;
    flex-direction: column;
    cursor: pointer;
}
.goatshirt-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    color: rgba(42, 43, 43, 0.814);
    font-size: 16px;
}
.rate{
    display:inline;
    padding-left: 10px;
}
.amount{
    font-weight: bolder;
}
.strike{
    text-decoration:line-through;
    color:gray;
}
.offer{
    color: rgb(8, 163, 8);
}
.NewArrivals{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.NewArrivals img{
    width:70%;
height:80%;
cursor:pointer;
}
.JustDropped img{
width:90%;
height:80%;
margin-left: 80px;
cursor:pointer;
}
.trending p{
    margin: 20px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.TrendingContent{
    display: flex;
    margin-left: 90px;
    margin-bottom: 50px;
    padding:0px;
    /* border:2px solid red; */
}
TrendingContent p{
    border:2px solid orange;
}
TrendingContent video{
    width:200px;
    height:300px;
    padding-right: 0px;
}
.trendingVideo video{
    width:200px;
    height:300px;
    margin-bottom: 50px;
   margin-left: 0px;
   padding-left: 0px;
}
.thirteen-TopWear,.discount{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
}
.thirteen-TopWear h3,.discount h3{
color:rgb(84, 82, 82);
}
.thirteen-TopWearContent img{
width:280px;
height:460px;
border-radius: 20px;
cursor: pointer;
padding-left: 10px;
padding-right: 20px;
}
.thirteen-TopWearContent{
    display:flex;
    margin-left: 70px;
    margin-bottom: 20px;
}
.discount{
    font-size: larger;

}
.DiscountContent {
    display: flex;
    margin-left: 100px;
    margin-bottom: 40px;
}
.DiscountContent img{
    width:380px;
height:230px;
padding-right: 20px;
cursor:pointer;
}
.shop h1,.celeb h1{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 40px;
}
.ShopContent,.CelebContent{
    display: flex;
    margin-left: 90px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.ShopContent img{
    width:320px;
height:330px;
padding-right: 10px;
border-radius: 15px;
cursor:pointer;
}
.CelebContent img{
    width:320px;
height:400px;
padding-right: 10px;
border-radius: 15px;
cursor:pointer;
}
.celeb{
    padding-top: 30px;
}

.featured {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    width:1200px;
    margin-left:90px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .featured hr {
    flex: 1; /* Make the line take up remaining space */
    border: none;
    height: 5px;
    background: yellow; 
  
  }

  .featured span {
    white-space: nowrap; 
    font-weight: bold;
    font-size: 22px;
    
  }
  .featuredImages{
    display:flex;
    margin-left: 50px;
    justify-content: space-around;
    margin-bottom: 30px;
    cursor: grab;
  }
  .bharatImage{
    margin-left: 50px;
    margin-bottom: 30px;
  }
  .subscribe{
    display:flex;
    margin-left: 100px;
    margin-right: 70px;
  }
  .xclusive p{
    font-style: italic;
    font-size: 24px;
  }
  .mail{
    display:flex;
    border:1px solid black;
    margin-left: 80px;
    align-items: center;
    border-radius: 10px;
  }
  .xclusive{
width:650px;
  }
  .mailcontent p{
    padding:20px;
    color: grey;
  }
  .buton button{
    background-color: rgb(250, 224, 56);
    padding:12px 20px 12px 20px;
    margin-right: 10px;
    border-radius: 10px;
    margin-left: 40px;
    font-weight:900;
    border:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
cursor: pointer;
  }
  .footercontent{
    display:flex;
    background-color: black;
    justify-content: space-around;
    margin-top: 40px;
  }
  .footercontent h2{
    color:yellow;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .footercontent p{
    color:white;
    padding-bottom: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    cursor: pointer;
  }
  .footer{
    background-color: black;
    padding: 70px 70px 0px 70px;
    margin-top: 30px;
  }
  .download img{
    display: inline;
    width:180px;
    height:60px;
    cursor: pointer;
    padding-right: 10px;
  }
  .contentGap{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contentList {
    list-style-type:disc;
    color:white;
  }
  .listed{
    list-style-type: disc;
    
  }
  .listed ul{
    font-weight: bolder;
  }
  .listed1 li{
    font-weight: bolder;
  }
  .secureFriends{
    display:flex;
   
  }
  .secure h1, .friends h3{
    color:white;
  }
  .secure h1{
    margin-left: 30px;
    padding-bottom: 20px;
    font-size: 25px;
  }
  .secure img{
    width:550px;
    padding-right: 50px;
    padding-left: 30px;
  }
  .medias{
    display:flex;
    margin-left: 20px;
    
  }
  .medias img{
    width:30px;
    height:30px;
    padding-right: 20px;
  }
  .secureborder{
    border-right: solid 1px yellow;
    margin-top: 35px;
  }
  .friend{
    margin:30px;
  }
  .friends h3{
    padding:10px 10px 20px 20px;
    font-weight: bolder;
    font-size:x-large;
  }
  .copyright p{
    color:white;
    text-align: center;
    padding-top: 30px;
    font-weight: bolder;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }


.menu-container {
  display: none; 
  flex-direction: column; 
}
/* body{
  overflow: hidden;
} */

/* Mobile (320px to 767px) */
@media (min-width: 320px) and (max-width: 767px) {
  .toggle-btn {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .one-fixed{
   padding: 0px;
  }
  .free p{
    display:none;
  }
  .free a{
    margin-left: 20px;
    float: right;
  }
  .menu-container{
    display:none;
    /* flex-direction: column; */
  }
.menu-container .active{
  display:flex;
  flex-direction: column;
 
}
.beyoung{
  flex-direction: column;
  align-items:flex-start; 
}
.btn-content,.btn-content1{
  z-index: 1;
}
.bttn-content{
  flex-direction:column;
}
.three-offerimages{
  margin: 0px 0px 15px 0px;
}
.carousel img{
  margin:0px;
}

.four-comboimages{
  display: none;
}

/* .carouselnew {
  justify-content:space-between;
  position: relative;
} */
.carouselnew button {
  position: relative;}

button.next{
  position:absolute;
  left:92%;
  padding-right: 10px 15px 10px 10px;
}
.six-dufflebag img{
width:200px;
height:100px;
}
.carouselWinter button {
  position: relative;
}

  button.next1{
    position:absolute;
    left:92%;
    padding-right: 10px 15px 10px 10px;
  }
/* .GoatSale{
  display:none;
} */
 .nine-goatsale h2, .nine-goatsale h3{
 text-align: center;
 }
 .nine-goatsale{
  margin-left: 40px;
  width:220px;
 }
.tengoatgif,.tengoatgif img{
  width:220px;
  margin-left: 40px;
}
.tengoatgif img{
  width:220px;
  margin-left: 0px;
  height:auto;
}
.product-buttons{
  /* text-align: center; */
width:220px;

}

.NewArrivals{
  margin:20px;
}
.NewArrivals img{
  height:50px;
  width:300px;
}
.JustDropped img{
  margin-left: 20px;
}
.TrendingContent {
  /* display:none; */
flex-direction: column;
padding-bottom: 10px;
}
.discount{
  font-size: small;
}
.DiscountContent{
  flex-direction: column;
margin-left: 60px; /* display:none; */
}
.DiscountContent img{
width:200px;
height:100px;
}

.ShopContent{
  flex-direction: column;
  /* display:none; */
}
.ShopContent img{
  width:200px;
  height:200px;
  padding-bottom: 10px;
}

.featured{
  /* flex-direction: column; */
   display:none; 
}
.featured hr{
  display:none;
}
.featuredImages{
  flex-direction: column;
  /* display:none; */
}
.featuredImages img{
  width:180px;
  height:50px;
  padding-bottom: 10px;
  margin-left: 20px;
}
.bharatImage img{
  width:300px;
  height:50px;
  /* display:none; */
}
.bharatImage{
  margin-left: 20px;
}
.subscribe{
  /* display:none; */
  flex-direction: column;
}
.xclusive{
  width:200px;
}
.mail{
  flex-direction: column;
  /* display:none; */
}
.footercontent{
  flex-direction: column;
  /* display:none; */
}
.secureFriends{
  flex-direction: column;
}
.secureborder{
  display: none;
}
.medias{
  width:150px;
  margin-left: 0px;
}
}

/* Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .toggle-btn {
      display: block;
  }
}

/* Desktop (1024px and above) */
@media (min-width: 1024px) {
  .toggle-btn {
      display: none;
  }

  .menu-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  .btn-content,
  .btn-content1 {
      display: none;
  }

  .menu-container .topwear:hover .btn-content,
  .menu-container .topwear:hover .btn-content1 {
      display: flex;
      flex-direction: column;
  }
  .beyoung{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}
  .beyoung{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    width:1400px;
}
}

  @media(min-width:1025px){
    .menu-container {
      justify-content: space-between;
  }
  .beyoung{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    /* width:1400px; */
}
}
