.carouselTopwear {
    position: relative;
    overflow: hidden; /* Hide extra images */
    margin-right: 10px;
  }
  
  .carousel-track-container4 {
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-track4 {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-slide4 {
    flex: 0 0 calc((100% - 10px) / 4); 
    list-style: none;
   
  }
  
  .carousel-slide4 img {
    display: block;
    width:270px;
    height:380px;
    border-radius:15px;
  
  }
  
  .carouselTopwear button {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    justify-content:space-between;
  }
  
   button.prev4 {
    left: 10px;
  } 
  
  button.next4 {
    right: 40px;
  }